<div class="container">
    <mat-toolbar color="primary" class="main-toolbar" style="height: 10vh;">
        <span>Radio Player</span>
    </mat-toolbar>
    <div class="content">
        <mat-selection-list [multiple]="false" color="primary" style="max-height: 70vh; overflow-y: scroll; overflow-x: hiddens;">
            <mat-list-option *ngFor="let radio of radios; let i = index" (click)="selectRadio(radio, i)">

                <mat-icon mat-list-icon *ngIf="this.selectedRadio != radio || !this.isPlaying" (click)="playAndSelectRadio(radio, i)">play_circle_filled</mat-icon>
                <mat-icon mat-list-icon *ngIf="this.selectedRadio == radio && this.isPlaying" (click)="pauseRadio()">pause</mat-icon>

                <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
                <h4 mat-line>{{radio.nom}}</h4>
                <mat-divider></mat-divider>
            </mat-list-option>
        </mat-selection-list>
    </div>
    <div class="media-footer" *ngIf="this.selectedRadio!=null">
        <mat-toolbar color="primary" style="height: 100%;">
            Currently playing : {{selectedRadio.nom}}
            <mat-toolbar-row class="media-action-bar">
                <button mat-button (click)="previous()">
                <mat-icon mat-list-icon>skip_previous</mat-icon>
              </button>
                <button mat-button (click)="playRadio()" *ngIf="!this.isPlaying">
                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
              </button>
                <button mat-button (click)="pauseRadio()" *ngIf="this.isPlaying">
                <mat-icon mat-list-icon>pause</mat-icon>
              </button>
                <button mat-button (click)="next()">
                <mat-icon mat-list-icon>skip_next</mat-icon>
              </button>

                <button mat-button (click)="mute()" *ngIf="this.audio.volume > 0">
                  <mat-icon mat-list-icon>volume_up</mat-icon>
                </button>

                <button mat-button (click)="unmute()" *ngIf="this.audio.volume == 0">
                    <mat-icon mat-list-icon>volume_mute</mat-icon>
                  </button>

                <mat-slider min="0" max="1" step="0.01" value="{{this.audio.volume}}" thumbLabel [displayWith]="formatLabel" (change)="changeVolume($event.value)" style="width: 2 0vw;">
                </mat-slider>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</div>


<!-- <div class=" content " fxLayout="row wrap ">

        <div fxFlex="24% " *ngFor="let radio of radios ">

            <mat-card class="mat-elevation-z4 ">
                <mat-card-header>
                    <mat-card-title>{{radio['nom']}}</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <audio controls src="{{radio[ 'flux']}} ">
                    Your browser does not support the
                    <code>audio</code> element.
                </audio>
                </mat-card-content>
            </mat-card>

        </div>
    </div> -->